<div class="container">
  <input type="file" (change)="handleFileInput($event)">
  <button (click)="uploadFileToServer()">Upload</button>

  <table *ngIf="excelData.length > 0">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of excelData">
        <td>{{ row.Id }}</td>
        <td>{{ row.Nombre }}</td>
        <td>{{ row.Telefono }}</td>
        <td>{{ row.Email }}</td>
        <td>{{ row.Estado }}</td>
      </tr>
    </tbody>
  </table>
</div>
